<widget id="zhihu" version="0.0.1" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>zhihu</name>
  <description>zhihu clicent</description>
  <author email="hpxing@gmail.com" href="http://weibo.com/xinghaiping">hrtsea</author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="BackgroundColor" value="0xff000000"/>
  <preference name="Orientation" value="default"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
</widget>